# Pattern & Alphabet's with Satish

In [1]:
for i in range(4):
    for j in range(4):
        #if (i==0 and j==2)or (i==1 and j==1)or(i==2 and j==0):
        if (i==0 and j in [2])or (i==1 and j in [1])or (i==2 and j in [0]):
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print("")

    *
  *
*

In [2]:
for i in range(3):
    for j in range(3):
        if i==j:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print("")

*
  *
    *

In [3]:
for i in range(3):
    for j in range(3):
        if (i == 2 and j == 0) or (i == 1 and j == 1) or (i == 0 and j == 2)or (i==j):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print("")

*   *
  *
*   *

In [4]:
for i in range(3):
    for j in range(3):
        if (i==0 and j==1)or (i==1 and j in [0,2])or(i==2 and j in [0,2]):
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print("")

  *
*   *
*   *

In [5]:
for i in range(3):
    for j in range(5):
        if (i==2)or (i==1 and j not in [0,4])or (i==0 and j ==2):
            print("* ",end="")
        else:
            print(" ", end=" ")
    print("")

    *
  * * *
* * * * *

In [6]:
for i in range(5):
    for j in range(10):
        if (i==0)or (i==1 and j in [1,8])or (i==2 and j in [2,7])or (i==3 and j in [3,6])or (i==4 and j==5):
            print( "#",end=" ")
        else:
            print(" ",end=" ")
    print("")

# # # # # # # # # #
  #             #
    #         #
      #     #
          #

In [7]:
for i in range(5):
    for j in range(3):
        if (i==0)or (j==0)or (j==2)or i==2:
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print("")
    
   ## print "A"

# # #
#   #
# # #
#   #
#   #

In [25]:
for i in range(5):
    for j in range(4):
        if (j==1)or (i==0)or (i==4)or (j==3 and i not in [2])or(j==2 and i not in [1,3]):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")  
    # print(" B ")

# # # #
  #   #
  # #
  #   #
# # # #

In [118]:
for i in range(5):
    for j in range(5):
        if (i==0 and j not in [0,4])or(i==4 and j not in [0,4])or(j==0 and i not in [0,4]):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("C")

  # # #
#
#
#
  # # #

In [123]:
for i in range(5):
    for j in range(5):
        if (j==2)or (i==0 and j not in [0])or (i==4 and j not in [0]) or j==4:
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")       
    
    #print(" D ")

  # # # #
    #   #
    #   #
    #   #
  # # # #

In [50]:
for i in range(5):
    for j in range(3):
        if (j==0)or (i==0)or (i==2)or (i==4):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")  
    # print(" E ")

# # #
#
# # #
#
# # #

In [52]:
for i in range(5):
    for j in range(3):
        if (j==0)or (i==0)or (i==2):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")  
    # print(" F ")

# # #
#
# # #
#
#

In [77]:
for i in range(5):
    for j in range(5):
        if (j==0)or (i==0)or (i==2 and j not in [1])or (i==4 and j not in [3] )or(i==3 and j not in [1,3]):
            print("@",end=" ")
        else:
            print(" ",end=" ")
    print("")  
    # print(" G ")

@ @ @ @ @
@
@   @ @ @
@   @   @
@ @ @   @

In [79]:
for i in range(5):
    for j in range(5):
        if (j==0)or j==4 or i==2 :
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("H")

#       #
#       #
# # # # #
#       #
#       #

In [14]:
for i in range(5):
    for j in range(5):
        if (j==2)or (i==0)or i==4:
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

# # # # #
    #
    #
    #
# # # # #

In [84]:
for i in range(5):
    for j in range(5):
        if (j==2)or (i==0)or j==0 and i in [3,4] or j==1 and i==4:
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

# # # # #
    #
    #
#   #
# # #

In [91]:
for i in range(5):
    for j in range(4):
        if (j==0)or(i==2 and j in [1])or(j==2 and i in [1,3])or (j==3 and i in [0,4]):
            print("@",end=" ")
        else:
            print(" ",end=" ")
    print("")
    
    #print(" K ")

@     @
@   @
@ @
@   @
@     @

In [97]:
for i in range(5):
    for j in range(4):
        if j==0 or i==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

*
*
*
*
* * * *

In [102]:
for i in range(5):
    for j in range(5):
        if (j==0)or j==4 or (i==2 and j not in [1,3])or (i==1 and j in [1,3]) :
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("M")

#       #
# #   # #
#   #   #
#       #
#       #

In [105]:
for i in range(5):
    for j in range(5):
        if (j==0)or (j==4) or (i==j) :
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("N")

#       #
# #     #
#   #   #
#     # #
#       #

In [124]:
for i in range(5):
    for j in range(5):
        if (i==0 and j not in [0,4])or(i==4 and j not in [0,4])or(j==0 and i not in [0,4])or (j==4 and i not in [0,4]):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("O")

  # # #
#       #
#       #
#       #
  # # #

In [83]:
for i in range(5):
    for j in range(3):
        if (i==0)or (j==0)or (j==2 and i not in [3,4])or i==2:
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print("")       
            
   ## Print "P"

# # #
#   #
# # #
#
#

In [132]:
for i in range(5):
    for j in range(5):
        if (i==0 and j not in [0,4])or(i==4 and j not in [0,4])or(j==0 and i not in [0,4])or (j==4 and i not in [0])or (i==3 and j not in [1,2]):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("Q")

  # # #
#       #
#       #
#     # #
  # # # #

In [9]:
for i in range(5):
    for j in range(3):
        if (i==0)or (j==0)or (j==2 and i not in [3])or i==2 or j==1 and i not in [1,4]:
            
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print("")       
    
    ## print (" R")

# # #
#   #
# # #
# #
#   #

In [174]:
for i in range(5):
    for j in range(4):
        if (i==0 and j not in [0])or (j==0 and i not in [0,3])or (i==2 and j not in [3])or j==3 and i in [3]or (i==4 and j not in [0,3]): 
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")
        
        #print(" S ")

  # # #
#
# # #
      #
# # #

In [11]:
for i in range(5):
    for j in range(5):
        if (j==2)or (i==0):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

# # # # #
    #
    #
    #
    #

In [214]:
for i in range(5):
    for j in range(5):
        if (i==4)or(j==0)or (j==4):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")   
    
    #print("U")

#       #
#       #
#       #
#       #
# # # # #

In [216]:
for i in range(3):
    for j in range(5):
        if (i==0 and j in [0,4])or(i==1 and j in [1,3])or(i==2 and j in [2]):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")  
  
#print("v")

#       #
  #   #
    #

In [218]:
for i in range(5):
    for j in range(5):
        if (j==0)or j==4 or (i==2 and j not in [1,3])or (i==3 and j in[1,3]) :
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("W")

#       #
#       #
#   #   #
# #   # #
#       #

In [228]:
for i in range(5):
    for j in range(5):
        if (i==0 and j in [0,4]) or (i==1 and j in [1,3]) or (i==2 and j in [2])or (i==3 and j in [1,3])or (i==4 and j in [0,4]):
            print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("X")

#       #
  #   #
    #
  #   #
#       #

In [233]:
for i in range(5):
    for j in range(5):
        if (i==0 and j in [0,4]) or (i==1 and j in [1,3]) or (i==2 and j in [2])or (j==2 and i not in [0,1]):
              print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("X")

#       #
  #   #
    #
    #
    #

In [235]:
for i in range(5):
    for j in range(5):
        if (i==0) or (i==4)or (i==1 and j in [3])or(i==2 and j in [2])or (i==3 and j in [1]):
              print("#",end=" ")
        else:
            print(" ",end=" ")
    print(" ")     
    
    #print("X")

# # # # #
      #
    #
  #
# # # # #