# Python Collections (Arrays)
There are four collection data types in the Python programming language:

### 1.List is a collection which is ordered and changeable. Allows duplicate members.

### 2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

### 3.Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

### 4.Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Set 
Set items are unordered, unchangeable, and do not allow duplicate values.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

Sets are written with curly brackets {}.
* Note: Set items are unchangeable, but you can remove items and add new items.

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [11]:
satish={"Mango", "Banana","Papaya",1,23,4}
print(satish)

{1, 'Mango', 4, 'Banana', 'Papaya', 23}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [13]:
sattu={"satish","mohan","sohan","satish","mohan","abhay"}
sattu

{'abhay', 'mohan', 'satish', 'sohan'}

In [15]:
set1={"apple","banana","apple",True,1,3,5}
set1

{3, 5, True, 'apple', 'banana'}

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [18]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

# Python - Access Set Items
Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [25]:
satish={"Mango", "Banana","Papaya",1,23,4}
for x in satish:
    print(x)
print("Banana" in satish)

1
Mango
4
Banana
Papaya
23
True

# Change Items
Once a set is created, you cannot change its items, but you can add new items.

In [26]:
satish={"satish","mony","sony","abhay"}
satish.add("parrot")
print(satish)

{'mony', 'abhay', 'parrot', 'sony', 'satish'}

# Add Sets
To add items from another set into the current set, use the update() method.

In [28]:
set1={"Mango","Pear","Pine"}
set2={"Guavava","Mango","Papaya"}
set1.update(set2)
print(set1)

{'Mango', 'Papaya', 'Pear', 'Pine', 'Guavava'}

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [29]:
akm={"Jhon","Kelly","Josheph"}
akm1={"Kiwi","Morn"}
akm.update(akm1)
akm

{'Jhon', 'Josheph', 'Kelly', 'Kiwi', 'Morn'}

# Python - Remove Set Items
Remove Item
To remove an item in a set, use the remove(), or the discard() also we can use 
del and clear()

In [31]:
akm={"Jhon","Kelly","Josheph"}
akm.remove("Jhon")
akm

{'Josheph', 'Kelly'}

In [32]:
akm={"Jhon","Kelly","Josheph"}
akm.discard("Kelly")
akm

{'Jhon', 'Josheph'}

In [35]:
akm={"Jhon","Kelly","Josheph"}
x=akm.pop()
x

'Kelly'

In [36]:
sn={"apple","banana","pine","pine","orange"}
sn.discard("pine")
print(sn)

{'apple', 'orange', 'banana'}

In [42]:
sn.remove("pine")
sn

KeyError: 'pine'

In [44]:
del sn

# Loop Items
You can loop through the set items by using a for loop:

In [46]:
sn={"apple","banana","pine","pine","orange"}
for x in sn:
    print(x)

apple
orange
banana
pine

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [47]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [49]:
#Example
#The update() method inserts the items in set2 into set1:


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

# Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [50]:
x={"Apple","Banana","Cherry","Mango"}
y={"Google","Microsoft","Apple","guavava"}
x.intersection_update(y)
x

{'Apple'}

In [52]:
x={"Apple","Banana","Cherry","Mango"}
y={"Google","Microsoft","Apple","guavava"}
z=x.intersection(y)
z

{'Apple'}

# Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [54]:
# Keep the items that are not present in both sets:
sn={"aman","Heel","Megha","Sam"}
sn2={"Heel","Abhay","Megha","Roshan"}
sn.symmetric_difference_update(sn2)
sn

{'Abhay', 'Roshan', 'Sam', 'aman'}

## The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [61]:
sn1={"aman","Heel","Megha","Sam"}
sn2={"Heel","Abhay","Megha","Roshan"}
sn1.symmetric_difference(sn2)
sn1

{'Heel', 'Megha', 'Sam', 'aman'}

# Python - Set Methods
Set Methods
Python has a set of built-in methods that you can use on sets.

#### Method <---------------------->Description

add()--------------------Adds an element to the set
clear()------------------Removes all the elements from the set
copy()-------------------Returns a copy of the set
difference()-------------eturns a set containing the difference between two or more sets

difference_update()------Removes the items in this set that are also included in another, specified set

discard()-----------------Remove the specified item

intersection()------------Returns a set, that is the intersection of two other sets

intersection_update()-----Removes the items in this set that are not present in other, specified set(s)

isdisjoint()--------------Returns whether two sets have a intersection or not

issubset()----------------Returns whether another set contains this set or not
issuperset()--------------Returns whether this set contains another set or not
pop()---------------------Removes an element from the set

remove()	Removes the specified element

symmetric_difference()-----Returns a set with the symmetric differences of two sets

symmetric_difference_update()---inserts the symmetric differences from this set and another
union()--------------------Return a set containing the union of sets
update()-------------------Update the set with the union of this set and others

In [62]:
set1 = {"a", "b" , "c"}
set2 = {"a","b"}
set2.difference(set1)
set2

{'a', 'b'}

# Python Dictionaries
## Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [68]:
sndict={
    "brand":"BMW",
    "Model":"newMustang",
    "year":1995
}
sndict
#print(type(sndict))

{'brand': 'BMW', 'Model': 'newMustang', 'year': 1995}

In [69]:
print(sndict["brand"])

BMW

# Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

Duplicate values will overwrite existing values:

In [72]:
sndict1={
    "brand":"BMW",
    "Model":"newMustang",
    "year":1995,
    "year":2020
}
print(sndict1)

{'brand': 'BMW', 'Model': 'newMustang', 'year': 2020}

In [73]:
print(len(sndict1))

3

In [75]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

# The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [77]:
sn2=dict(Name="Satish",age="23",countyr="Norway")
print(sn2)

{'Name': 'Satish', 'age': '23', 'countyr': 'Norway'}

# Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [81]:
ss = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(ss["colors"])

['red', 'white', 'blue']

# There is also a method called get() that will give you the same result:

In [85]:
ss.get("colors")

['red', 'white', 'blue']

# Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [92]:
ss = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
x=ss.keys()
x

dict_keys(['brand', 'electric', 'year', 'colors'])

In [97]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
y=car.values()
print(x) #before the change for keys
print(y) # before the change for values 
car["color"] = "white"
car["Ford"]="Tyota"

print(x) #after the change for keys
print(y) #after the change for values

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_keys(['brand', 'model', 'year', 'color', 'Ford'])
dict_values(['Ford', 'Mustang', 1964, 'white', 'Tyota'])

# Get Values
The values() method will return a list of all the values in the dictionary.

In [93]:
y=ss.values()
y

dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])

# Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [98]:
ss = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
if "brand" in ss:
    print("yes")
else:
    print("no")

yes

# Change Values
You can change the value of a specific item by referring to its key name:

In [100]:
ss1 = {
  "brand": "THAR",
  "electric": True,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
ss1["colors"]="red"
ss1

{'brand': 'THAR', 'electric': True, 'year': 1964, 'colors': 'red'}

In [101]:
print(type(ss1))

<class 'dict'>

# Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [102]:
ss2 = {
  "brand": "THAR",
  "electric": True,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
ss2.update({"year":2020}) # update()
ss2

{'brand': 'THAR',
 'electric': True,
 'year': 2020,
 'colors': ['red', 'white', 'blue']}

# Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [114]:
sn={
    "name":"Satish",
    "Class":"MCA",
    "Year":2023
}
sn["Durations"]="4Years"
print(sn)

{'name': 'Satish', 'Class': 'MCA', 'Year': 2023, 'Durations': '4Years'}

In [115]:
sn.update({"Year":2020}) # update()
sn

{'name': 'Satish', 'Class': 'MCA', 'Year': 2020, 'Durations': '4Years'}

# Python - Remove Dictionary Items
'Removing Items"

There are several methods to remove items from a dictionary:'

In [116]:
sn

{'name': 'Satish', 'Class': 'MCA', 'Year': 2020, 'Durations': '4Years'}

In [117]:
sn.pop("name")

'Satish'

In [118]:
sn

{'Class': 'MCA', 'Year': 2020, 'Durations': '4Years'}

In [119]:
sn.popitem()

('Durations', '4Years')

In [120]:
sn

{'Class': 'MCA', 'Year': 2020}

In [124]:
del sn 
# This will cause an error beacause "sn" no longer exists

NameError: name 'sn' is not defined

In [122]:
sn

NameError: name 'sn' is not defined

In [126]:
# The clear() method empties the dictionary:
#it also delete all elemets

# Python - Loop Dictionaries

In [134]:
asp={
    "name":"satish",
    "company":"Hexa",
    "location":"Noida",
    "year":2015
}
for i in asp:
    print(asp[i])

satish
Hexa
Noida
2015

In [132]:
asp={
    "name":"satish",
    "company":"Hexa",
    "location":"Noida",
    "year":2015
}
for x in asp.values():
    print(x)

satish
Hexa
Noida
2015

In [133]:
for x in asp.keys():
    print(x)

name
company
location
year

In [137]:
# Loop through both keys and values,
# by using the items() method:
for x,y in asp.items():
    print(x,y)

name satish
company Hexa
location Noida
year 2015

# Python - Copy Dictionaries
There are ways to make a copy, one way is to use the built-in Dictionary method copy()

In [138]:
asp={
    "name":"satish",
    "company":"Hexa",
    "location":"Noida",
    "year":2015
}
mydict=asp.copy()
print(mydict)

{'name': 'satish', 'company': 'Hexa', 'location': 'Noida', 'year': 2015}

# Another way to make a copy is to use the built-in function dict().

In [140]:
mydict=dict(asp)
print(mydict)

{'name': 'satish', 'company': 'Hexa', 'location': 'Noida', 'year': 2015}

# Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [145]:
mysn = {
  "child1" : {
    "name" : "Jhon",
    "year" : 2004
  },
  "child2" : {
    "name" : "Kelly",
    "year" : 2007
  },
  "child3" : {
    "name" : "Marnush",
    "year" : 2011
  }
}
mysn

{'child1': {'name': 'Jhon', 'year': 2004},
 'child2': {'name': 'Kelly', 'year': 2007},
 'child3': {'name': 'Marnush', 'year': 2011}}

In [148]:
child1 = {
  "name" : "Jhon",
  "year" : 2004
}
child2 = {
  "name" : "Kelly",
  "year" : 2007
}
child3 = {
  "name" : "Marnush",
  "year" : 2011
}

mysn1 = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
mysn1

{'child1': {'name': 'Jhon', 'year': 2004},
 'child2': {'name': 'Kelly', 'year': 2007},
 'child3': {'name': 'Marnush', 'year': 2011}}

# Access Items in Nested Dictionaries

In [149]:
print(mysn["child2"]["name"])

Kelly

In [150]:
print(mysn1["child1"]["name"])

Jhon

# Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

Method	              Description
clear()----Removes all the elements from the dictionary

copy()-----Returns a copy of the dictionary

fromkeys()--Returns a dictionary with the specified keys and value

get()-------Returns the value of the specified key

items()-----Returns a list containing a tuple for each key value pair

keys()------Returns a list containing the dictionary's keys

pop()-------Removes the element with the specified key


popitem()---Removes the last inserted key-value pair

setdefault()--Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()----Updates the dictionary with the specified key-value pairs

values()-----Returns a list of all the values in the dictionary