In [3]:
a=list(map(int,input().split(",")))
print(a)

1,2,3,4
[1, 2, 3, 4]

In [4]:
a=map(float,input().split(","))
print(a)

1,2,3
<map object at 0x00000190C176CB20>

In [5]:
for i in a:
    print(i)

1.0
2.0
3.0

In [6]:
a=[{1,2,3,4,5}]
a[0]

{1, 2, 3, 4, 5}

In [7]:
#help(list)

In [8]:
text="my Name Is Satish Sahani Sahani"
result=text.capitalize()              #capitalize()
print(result)

My name is satish sahani sahani

In [9]:
result1=text.casefold()          # casefold() is also known as lower case
print(result1)

my name is satish sahani sahani

In [10]:
result2=text.center(40,'*')     # center(20,'*') 
print(result2)

****my Name Is Satish Sahani Sahani*****

In [11]:
text = "hello, hello, world!"
result = text.count("hello")     #count()
print(result)  # Output

2

In [12]:
b="satish,satish,naveen,naveen"
c=b.count("satish")                    # endwith()
print(c)

2

In [13]:
result3=b.endswith("naveen")
print(result3)

True

In [14]:
hi="the name of pg is AKs"
result4=hi.find("name")     # find()
print(result4)

4

In [15]:
name="Satish"                   # format()
age=45
result="My name is {} and my age {}".format(name,age)
print(result)

My name is Satish and my age 45

In [16]:
test="123Hello"
result=test.isalnum()
result

True

In [17]:
class myclass():         # Bool fun give False
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [18]:
def my_fun():      # bool fun give ture 
    return True
print(my_fun())

True

In [19]:
def my_Fun():
    return True
if my_Fun():
    print("yes")
else:
    print("No")

yes

In [20]:
#Python also has many built-in functions that return
#a boolean value, like the isinstance() function, 
#which can be used to determine if an object is of 
#a certain data type:

x=200
print(isinstance(x,int))

True

## List

In [21]:
this = ["apple", "banana", "cherry"]
print(this[0:])
print(len(this[0:]))

['apple', 'banana', 'cherry']
3

In [22]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(type(list1))
print(list1)
print(type(list2))
print(list1)
print(type(list3))

['apple', 'banana', 'cherry']
<class 'list'>
['apple', 'banana', 'cherry']
<class 'list'>
['apple', 'banana', 'cherry']
<class 'list'>

In [23]:
# A list string,integer and boolean value
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [24]:
thislist = list(("apple", "banana", "cherry")) 
# note the double round-brackets
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry']
<class 'list'>

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [25]:
th = ["apple", "banana", "cherry"]
th[1] = "blackcurrant"
print(th)

['apple', 'blackcurrant', 'cherry']

In [26]:
th = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
th[1:3] = ["blackcurrant", "watermelon"]
print(th)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [28]:
vm = ["apple", "banana", "cherry","chaum"]
vm.insert(1,"banaban")

print(vm)

['apple', 'banaban', 'banana', 'cherry', 'chaum']

# Python - Add List Items
## Append Items
To add an item to the end of the list, use the append() method:

In [29]:
satish=["apple","Banana","Kela","Aam"]
satish.append("orange")
satish.append("santra")
satish

['apple', 'Banana', 'Kela', 'Aam', 'orange', 'santra']

# Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [30]:
satish=["dog","lion","bandar","ele"]
satish.insert(1,"bear")
satish

['dog', 'bear', 'lion', 'bandar', 'ele']

In [31]:
satish=["apple","Banana","Kela","Aam"]
satish1=["dog","lion","bandar","ele"]
satish.extend(satish1)
print(satish)

['apple', 'Banana', 'Kela', 'Aam', 'dog', 'lion', 'bandar', 'ele']

# Python - Remove List Items
 ## Remove Specified Item
The remove() method removes the specified item.

In [32]:
satish=["apple","Banana","Kela","Aam"]
satish.remove("apple")
satish

['Banana', 'Kela', 'Aam']

# Remove Specified Index
The pop() method removes the specified index.

In [33]:
# If you do not specify the index, and
# the pop() method removes the last item.

satish=["apple","Banana","Kela","Aam"]
satish.pop(1)           
satish

['apple', 'Kela', 'Aam']

In [34]:
satish.pop()
satish

['apple', 'Kela']

In [35]:
satish=["satuu","avi","mus","sahah"]
del satish [2]
satish

['satuu', 'avi', 'sahah']

In [36]:
# The del keyword can also delete the list completely.
satish=["satuu","avi","mus","sahah"]
del satish

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [37]:
fm=["aman","sohan","honal","manak",",mahak"]
fm.clear()

# Loop Through a List
You can loop through the list items by using a for loop:

In [38]:
satish=["apple","Banana","Kela","Aam"]
for i in satish:
    print(i)

apple
Banana
Kela
Aam

# Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [39]:
satish=["apple","sev","Banana","Kela","Aam","mausmi"]
for i in range (len(satish)):
    print(satish)

['apple', 'sev', 'Banana', 'Kela', 'Aam', 'mausmi']
['apple', 'sev', 'Banana', 'Kela', 'Aam', 'mausmi']
['apple', 'sev', 'Banana', 'Kela', 'Aam', 'mausmi']
['apple', 'sev', 'Banana', 'Kela', 'Aam', 'mausmi']
['apple', 'sev', 'Banana', 'Kela', 'Aam', 'mausmi']
['apple', 'sev', 'Banana', 'Kela', 'Aam', 'mausmi']

In [40]:
satish=["apple","sev","Banana","Kela","Aam","mausmi"]
for i in range (len(satish)):
    print(satish[i])

apple
sev
Banana
Kela
Aam
mausmi

In [41]:
satish=["apple","sev","Banana","Kela","Aam","mausmi"]
i = 0
while i < len(satish):
  print(satish[i])
  i = i + 1

apple
sev
Banana
Kela
Aam
mausmi

# Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [42]:
sat=["one","man","army","hota","hai!"]
[print(x) for x in sat]

one
man
army
hota
hai!

[None, None, None, None, None]

In [43]:
sat=["one","man","army","hota","hai!"]
newlist = []

for x in sat:
  if "a" in x:
    newlist.append(x)

print(newlist)

['man', 'army', 'hota', 'hai!']

In [44]:
print(sat)

['one', 'man', 'army', 'hota', 'hai!']

In [45]:
print(newlist)

['man', 'army', 'hota', 'hai!']

In [46]:
satis=["aa","dekhe","jara","kisme","kitna","hai","dumm!"]
new=[]
for x in satis:
    if "a" in x:
        new.append(x)
print(new)

['aa', 'jara', 'kitna', 'hai']

In [47]:
print(satis)

['aa', 'dekhe', 'jara', 'kisme', 'kitna', 'hai', 'dumm!']

# 1.With list comprehension you can do all that with only one line of code:

In [48]:
satish=["man","women","child","old","adult"]
new=[ x for x in satish if "a" in x]
print(new)

['man', 'adult']

In [49]:
newlist = [x for x in satis if x != "hai"]
newlist

['aa', 'dekhe', 'jara', 'kisme', 'kitna', 'dumm!']

In [50]:
new=[x for x in satish]
new

['man', 'women', 'child', 'old', 'adult']

In [51]:
new=[x for x in range(10)]
new

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
satish=[x for x in  range(20) if x>5]
satish

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [53]:
satis = [x*2 for x in range(11)]
satis

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [54]:
# Print the table header
print("Original Value  |  Doubled Value")
print("----------------+---------------")
# Print the table rows
for x in range(11):
    print(f"{x:<15} |  {satis[x]:<10}")

Original Value  |  Doubled Value
----------------+---------------
0               |  0
1               |  2
2               |  4
3               |  6
4               |  8
5               |  10
6               |  12
7               |  14
8               |  16
9               |  18
10              |  20

In [55]:
sat=[x*3 for x in range(11)]

In [56]:
# Print the table header
print("Original Value  |  Doubled Value")
print("----------------+---------------")
# Print the table rows
for x in range(11):
    print(f"{x:<15} |  {sat[x]:<10}")

Original Value  |  Doubled Value
----------------+---------------
0               |  0
1               |  3
2               |  6
3               |  9
4               |  12
5               |  15
6               |  18
7               |  21
8               |  24
9               |  27
10              |  30

In [57]:
mul=[x*4 for x in range(11)]
for i in mul:
    print(i ,end=",")

0,4,8,12,16,20,24,28,32,36,40,

In [58]:
mul=[x*5 for x in range(11)]
for i in mul:
    print(i)

0
5
10
15
20
25
30
35
40
45
50

In [59]:
au=["apple", "banana", "cherry", "kiwi", "mango","orange"]
new=["hello" for x in au]
new

['hello', 'hello', 'hello', 'hello', 'hello', 'hello']

In [60]:
newlist = [x if x != "banana" else "orange" for x in au]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango', 'orange']

In [61]:
li=["apple", "banana", "cherry", "kiwi", "mango","orange"]
li.sort()
print(li)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [62]:
num=[199,20,234,10,99,65,15]
num.sort()
num

[10, 15, 20, 65, 99, 199, 234]

In [63]:
ul=["apple", "banana", "cherry", "kiwi", "mango","orange"]
ul.sort(reverse=True)
ul

['orange', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [64]:
num=[1,30,13,22,12,2,3]
num.sort(reverse=True)
num

[30, 22, 13, 12, 3, 2, 1]

In [65]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [66]:
# 1st way for Join two list
list1 = ["a", "b", "c","d"]
list2 = [1, 2, 3, 4]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [67]:
# 2nd Way to join two list
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [68]:
# 3rd way for join two list
list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 1, 2, 3, 4]

# List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()-----Adds an element at the end of the list

clear()------Removes all the elements from the list

copy()-------Returns a copy of the list

count()------Returns the number of elements with the specified value

extend()-----Add the elements of a list (or any iterable), to the end of the current list

index()-----Returns the index of the first element with the specified value

insert()-----Adds an element at the specified position

pop()--------Removes the element at the specified position

remove()----Removes the item with the specified value

reverse()----Reverses the order of the list

sort()--------Sorts the list

import time, sys
indent = 0 # How many spaces to indent.
indentIncreasing = True # Whether the indentation is increasing or not.

try:
    while True: # The main program loop.
        print(' ' * indent, end='')
        print('********')
        time.sleep(0.1) # Pause for 1/10 of a second.

        if indentIncreasing:
            # Increase the number of spaces:
            indent = indent + 1
            if indent == 20:
                # Change direction:
                indentIncreasing = False

        else:
            # Decrease the number of spaces:
            indent = indent - 1
            if indent == 0:
                # Change direction:
                indentIncreasing = True
except KeyboardInterrupt:
    sys.exit()

In [73]:
tuple1=("apple","Banana","Cherry","Mango","papaya","Apple","Banana")
for i in range (len(tuple1)):
    print(tuple1[i])

apple
Banana
Cherry
Mango
papaya
Apple
Banana

In [74]:
tuple2=("apple","Banana","Cherry","Mango")
i=0
while i <len(tuple2):
    print(tuple2[i])
    i=i+1

apple
Banana
Cherry
Mango

# Join Two Tuples
To join two or more tuples you can use the + ope

In [89]:
result=tuple1+tuple2
print(result)
print(len(result))
print("**************Below is multiplication******************")
mul_tup=result*1
print(mul_tup)

('apple', 'Banana', 'Cherry', 'Mango', 'papaya', 'Apple', 'Banana', 'apple', 'Banana', 'Cherry', 'Mango')
11
**************Below is multiplication******************
('apple', 'Banana', 'Cherry', 'Mango', 'papaya', 'Apple', 'Banana', 'apple', 'Banana', 'Cherry', 'Mango')

# Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

# Tuple
Tuples are used to store multiple items in a single variable. Tuple items are ordered, unchangeable, and allow duplicate values. A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [95]:
satish=("saat","aath","nau","duss","bus")
print(satish)
print(len(satish))

('saat', 'aath', 'nau', 'duss', 'bus')
5

In [96]:
sat = ("apple",)
print(type(sat))

#NOT a tuple
vk = ("apple")
print(type(vk))

<class 'tuple'>
<class 'str'>

In [97]:
tup1 = ("apple", "banana", "cherry")
tup2 = (1, 5, 7, 9, 3,"mmm")
tup3 = (True, False, False)
print(type(tup1))
print(type(tup2))
print(type(tup3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [98]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.